{{ define "main" }}
{{ with .Site.Data.homepage.data.jumbotron.backgroundImage }}
{{ $bgImage := default "/img/404.svg" . }}
<div class="container-fluid index-jumbotron" style='background: url("{{ $bgImage }}") center center / cover no-repeat;'>
{{ end }}
<div class="row bg-dark px-3 py-4 p-sm-5">
    <div class="col-12 text-bg-light highlighted-article">
        {{ range where $.Site.RegularPages "RelPermalink" (relref . .Site.Data.homepage.data.jumbotron.featuredArticle) }}
            <div class="row">
                <div class="col-md-9 h-100">
                    <div class="row article-meta">
                        <div class="col-12 author-profile ps-0">
                            <span class="article-type">{{ .Type }}</span><img src="{{ default $.Site.Params.author.photo .Params.author.photo }}"> {{ default $.Site.Params.author.name .Params.author.name }}
                            <br> {{ .Date | time.Format "2 January 2006" }}
                        </div>
                    </div>
                    <div class="row my-0 my-sm-4 pb-1">
                        <div class="col-12 p-3 px-sm-5">
                            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                            <p class="mt-3">{{ .Summary }}</p>
                            <a href="{{ .Permalink }}" class="btn btn-outline-primary" type="button">Baca artikel</a>
                            {{ with .Params.additionalLinks }}
                            {{ range . }}
                            <a href="{{ .link }}" class="btn btn-outline-primary" type="button">{{ .title }}</a>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pe-0 highlighted-article-image">
                    <img src='{{ default "/img/404.svg" .Params.featured_image }}' alt="{{ .Title }}" class="img-fluid">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<!-- Index cards -->
<div class="container-fluid mt-5">
    <div class="row pb-4 px-sm-4">
        {{ range .Site.Data.homepage.data.informations }}
        <div class="col-lg-4 px-3 px-sm-4 mb-4 mb-lg-0 index-card">
            <div class="h-100"
                style="background: url('{{ .backgroundImage }}') center center / cover no-repeat;">
                <div class="h-100 p-5 text-bg-dark">
                    <h2 aria-hidden="true"><i class="fa-solid fa-person-rays"></i></h2>
                    <h4>{{ .title }}</h4>
                    <p>{{ .description }}</p>
                    <a href="{{ .link }}" class="btn btn-primary" type="button">{{ .linkText }}</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<div class="container-fluid index-title my-5 px-3 py-4 ps-md-5">
    <h1><i class="fa-solid fa-newspaper fa-lg pe-2"></i> Artikel terbaru</h1>
</div>

<!-- Artikel terbaru -->
<main class="container article-list pt-4 pb-2 px-3">
    {{ range first 9 (where .Site.RegularPages "Type" "in" site.Params.newestArticle) }}
    <div class="row pb-4 px-md-4">
        {{ $featuredimg := default "/img/404.svg" .Params.featured_image }}
        <div class="col-lg-2 col-md-3 mb-3 position-relative article-img">
            <img src="{{ $featuredimg }}" class="img-fluid">
            <span class="position-absolute top-0 badge bg-ccid-red-36">{{ .Type | title }}</span>
        </div>
        <div class="col-lg-10 col-md-9 mb-3 ps-md-4">
            <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
            <p class="article-meta">
                <i class="fa-solid fa-feather fa-fw"></i> {{ .Params.author.name }} <br>
                <i class="fa-solid fa-calendar-day fa-fw"></i> {{ .Date | time.Format "2 January 2006" }}
            </p>
            <a href="{{ .Permalink }}" class="btn btn-outline-primary me-1" type="button">Baca artikel</a>
        </div>
    </div>
    {{ end }}
</main>

<div class="container-fluid index-title mt-4 px-3 py-4 ps-md-5">
    <h1><i class="fa-solid fa-users fa-lg pe-2"></i> Sobat CCID</h1>
</div>

<div class="container-fluid sobatccid">
    <div class="row">
        {{ range first 6 (where .Site.RegularPages "Type" "sobatccid" ) }}
        {{ $featuredimg := default "/img/404.svg" .Params.featured_image }}
        <div class="col-md-4 index-card p-0">
            <div class="h-100" style='background: url("{{ $featuredimg }}") center center / cover no-repeat;'>
                <div class="h-100 p-5 text-bg-dark">
                    <h6 class="mb-3">{{ .Date | time.Format "2 January 2006" }}</h6>
                    <h5 class="mb-4">{{ .Title }}</h5>
                    <a href="{{ .Permalink }}" class="btn btn-primary">Temukan</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}