<nav class="navbar navbar-dark navbar-expand-md" aria-label="Navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo-white.png" alt="Creative Commons Indonesia"
                class="img-fluid" width="150"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ccidnavbar"
            aria-controls="ccidnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="ccidnavbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="resources" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ .Name }}
                        </a>
                        <ul class="dropdown-menu mt-3 bg-ccid-red-31 animate__animated animate__flipInY animate__faster"
                            aria-labelledby="resources">
                            {{ range .Children }}
                            <li class='nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                {{ else }}
                    <li class='nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {{ range .Site.Menus.socmed }}
                <li class="nav-item"><a class="nav-link" href="{{ .URL }}" title="{{ .Name }}"><i class="{{ .Params.Icon }}"></i></a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>