<nav class="navbar navbar-dark navbar-expand-md" aria-label="Navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img src="/img/logoputih.png" alt="Creative Commons Indonesia" class="img-fluid" width="150"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ccidnavbar" aria-controls="ccidnavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="ccidnavbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="resources" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Informasi
            </a>
            <ul class="dropdown-menu mt-3 bg-ccid-red-31 animate__animated animate__flipInY animate__faster" aria-labelledby="resources">
              <li><a class="dropdown-item" href="lisensi-cc-bahasa-indonesia.html">Lisensi</a></li>
              <li><a class="dropdown-item" href="kajian.html">Kajian</a></li>
              <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="berita.html">Berita</a></li>
          <li class="nav-item"><a class="nav-link" href="acara.html">Acara</a></li>
          <li class="nav-item"><a class="nav-link" href="media.html">Media</a></li>
          <li class="nav-item"><a class="nav-link" href="tentang.html">Tentang kami</a></li>
          <li class="nav-item"><a class="nav-link" href="sobatccid.html">Sobat CCID</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/CreativeCommonsIndonesia" title="Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://twitter.com/CC_ID" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/cc.indonesia/" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="hubungi-kami.html" title="Hubungi kami"><i class="fa-solid fa-address-book"></i></a></li>            
        </ul>       
      </div>
    </div>
  </nav>